@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* General settings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to bottom right, #e1a3ed 0%, #ec6e72 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Layout settings*/
main {
  width: 100vw;
  height: 55rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

#player1 {
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding-top: 10px;
}

#middle {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(240, 247, 246);
}

#player2 {
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.total {
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.current {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  background-color: #e0436f;
  opacity: 0.8;
  border-radius: 10px;
  color: #fff;
  width: 40%;
  height: 80%;
  margin: 0 auto 10px;
  transition: all 0.75s;
}

/* Elements*/
.name {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 280;
  color: rgb(10, 10, 10);
}

.score {
  font-size: 4rem;
  font-weight: 300;
  color: #f20346;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 705;
}
.player--active .score {
  font-weight: 398;
}

.player--active .current {
  opacity: 1;
}

.current-label {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #101010;
}

.current-score {
  font-size: 3rem;
}

.btn {
  color: black;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
  background-color: rgba(248, 204, 204, 0.6);
  backdrop-filter: blur(10px);
  padding: 1.8rem 3rem;
  border-radius: 18px;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.btn:active {
  transform: translateY(50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  height: 10rem;
  width: 10rem;
  box-shadow: 0 2rem 5rem rgba(23, 22, 22, 0.2);
  border-radius: 25px;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

/* Media query settings */
/* Below 1200px (Landscape Tablets) */
@media (max-width: 1200px) {
  .total {
    gap: 180px;
  }

  .current {
    gap: 150px;
    width: 45%;
  }

  #middle {
    gap: 15px;
  }

  .btn {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
  }

  .dice {
    height: 9rem;
    width: 9rem;
  }
}

/* Below944px (Tablets) */
@media (max-width: 944) {
  .total {
    gap: 160px;
  }

  .current {
    gap: 120px;
    width: 50%;
  }

  #middle {
    gap: 12px;
  }

  .btn {
    font-size: 1.3rem;
    padding: 1.2rem 1.5rem;
  }

  .dice {
    height: 8rem;
    width: 8rem;
  }
}

/* Below 704px (Smaller tablets) */
@media (max-width: 704px) {
  .total {
    gap: 160px;
  }

  .current {
    gap: 90px;
    width: 55%;
  }

  #middle {
    gap: 10px;
  }

  .btn {
    font-size: 1.35rem;
    padding: 1rem 1.35rem;
  }

  .dice {
    height: 7rem;
    width: 7rem;
  }
}

/* Below 544px (Phones) */
@media (max-width: 544) {
  .total {
    gap: 135px;
  }

  .current {
    gap: 85px;
    width: 65%;
  }

  #middle {
    gap: 9px;
  }

  .btn {
    font-size: 1.1rem;
    padding: 0.9rem 1.2rem;
  }

  .dice {
    height: 6rem;
    width: 6rem;
  }
}

/* Below 412px (Phones) */
@media (max-width: 412px) {
  .total {
    gap: 120px;
  }

  .current {
    gap: 70px;
    width: 70%;
  }

  .btn {
    padding: 0.8rem 1.2rem;
  }

  .dice {
    height: 5rem;
    width: 5rem;
  }
}

/* Below 312px (Phones) */
@media (max-width: 312px) {
  .total {
    gap: 50px;
  }

  .current {
    gap: 60px;
    width: 80%;
  }

  #middle {
    padding: auto 2px;
  }

  .btn {
    padding: 1rem 0.75rem;
  }

  .dice {
    height: 4rem;
    width: 4rem;
  }
}
